* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: 'Times New Roman', Times, serif;
  color: #191970;
}

h1 {
  font-size: 48px;
}

p {
  font-size: 24px;
}

.navigation {
  display: flex;
  justify-content: space-between;
  width: 95%;
  margin: 10px auto;
  border: 1px solid #000;
  padding: 5px 10px;
}

.navigation-links {
  display: flex;
  list-style: none;
  gap: 12px;
}

.navigation-links li {
  border-right: 1px solid black;
  padding-right: 12px;
  text-align: center;
}

.navigation-links a {
  text-decoration: none;
  cursor: pointer;
}

.navigation-links li:last-child {
  border: none;
  padding: 0;
}

.navigation-links .active {
  font-weight: bold;
  color: black;
}

.date-container {
  display: flex;
  justify-content: end;
  margin: 0 2%;
}

.list-section {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 100%;
}

.header {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-bottom: 20px;
}

.book-list-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  width: 95%;
  border: 1px solid #000;
}

#book-list {
  width: 100%;
}

#book-list article {
  display: flex;
  gap: 5px;
  justify-content: space-between;
  align-items: center;
  padding: 2px 10px;
}

#book-list article:nth-of-type(odd) {
  background-color: beige;
}

#book-list article:nth-of-type(even) {
  background-color: blanchedalmond;
}

#book-list div {
  display: flex;
  gap: 5px;
}

.add-book-section {
  margin-top: 60px;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.add-book-section h1 {
  margin-bottom: 20px;
}

.form {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  width: 30vw;
  margin: auto;
}

.form-input {
  display: flex;
  flex-direction: column;
  gap: 10px;
  width: 100%;
}

.form-input input {
  padding: 2px;
}

.form-input button {
  width: fit-content;
  align-self: flex-end;
  padding: 2px 5px;
  margin-bottom: 20px;
  background-color: #fff;
  cursor: pointer;
}

.form-input button:hover {
  background-color: rgba(240, 248, 255, 0.5);
}

#book-list button {
  padding: 2px 5px;
  background-color: #fff;
}

#book-list button:hover {
  background-color: rgba(240, 248, 255, 0.5);
}

.contact-section {
  margin-top: 60px;
  display: flex;
  flex-direction: column;
  align-items: center;
  text-align: start;
}

.contact-section h1 {
  margin-bottom: 20px;
}

.contact-section p {
  margin-bottom: 10px;
}

.contact-info {
  list-style: disc;
  margin-bottom: 20px;
}

.contact-info a {
  text-decoration: none;
}

.footer {
  padding: 5px 10px;
  width: 95%;
  margin: 10px 2.5%;
  border: 1px solid #000;
  text-align: center;
  position: absolute;
  bottom: 0;
}

.footer p {
  font-size: 12px;
}

.hidden {
  display: none;
}
